/*Estilos globais*/
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: rgb(26, 25, 25);
    line-height: 1.6;
}

/*Estilos para sessoes da pagina*/
.secao {
    padding: 60PX 20PX;
}

/*Estilos para cabeçalho*/
.cabecalho {
    background-color: black;
    color: azure;
    padding: 15px 20px;
    /*Utilizando o flexbox para alinhar itens do cabeçalho*/
    display: flex; /*Ativa o modelo de layout do flexbox para o container*/
    justify-content: space-between; /*Espaçamento dos itens na horizontal*/
    align-items: center;
}

/*Container interno do cabeçalho para limitar a largura do conteudo da página*/
.cabecalho-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0;
    width: 100%;
}

/*Estilos para o nome do cabeçalho*/
.nome-portfolio {
    margin: 0;
    font-size: 1.5em;
}

/*Estilos para a navegação*/
.navegacao-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /*utilizando o flexbox para alinhar os itens*/
    display: flex;
}

.navegacao-li {
    margin-left: 20px;
}

.navegacao-a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.navegacao-a:hover {
    color: pink;

}

/*Estilos para sessão sobre mim*/
.sobre-container {
    max-width: 1200px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.foto-perfil{
    width: 200px;
    border-radius: 50%;
}

.texto-sobre-h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

/*Estilo para seção de habilidades*/
.habilidades {
    background-color: gainsboro;
}

.habilidades-center {
    max-width: 1200px;
    margin: 0;
    text-align: center;
}

.lista-habilidades  {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;/*permite que os itens quebrem para a próxima linha se não ouver espaço*/
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.lista-habilidades-li {
    background-color: aqua;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
}

.projetos-container {
    max-width: 1200px;
    margin: 0;
    text-align: center;
    margin-top: 20px;
    /*Utilizando o CSS Grid para criar um layout de objetos*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));/*Cria colunas que se ajustam automaticamente com uma largura minima de 300px e maxima de 1 fração de espaço disponível*/
    gap: 20px;
}

.projeto {
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.projeto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.projeto h3 {
    margin-top: 0;
    font-size: 1.2em;
}

projeto a {
    display: inline-block;/*permite definir padding e margin*/
    background-color: #333;
    color: aliceblue;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.projeto a:hover {
    background-color: #555;
}

/*Estilo para um projeto em destaque (ocupando mais espaço para o Grid)*/
.projeto-destaque {
    /*pode-se definir propriedades especificas para destacar um projeto, como ocupar mais colunas ou mesmo ter um estilo diferente*/
}

/*Estilo para seção de contato*/
.contato {
    background-color: aliceblue;
}

.contato-container {
    max-width: 1200px;
    margin: 0;
    text-align: center;
}

.formulario-contato {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;/*Organiza os elemntos verticalmente*/
    gap: 10px;
}

.formulario-contato input [type="text"],
.formulario-contato input [type="email"],
.formulario-contato textarea{
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    font-size: 1em;
}

.formulario-contato textarea {
    resize: vertical; /*Permite redirecionar a altura da textarea*/
    min-height: 100px; /*Define uma altura minima para textarea*/
}

.formulario-contato button [type="submit"] {
    background-color: #333;
    color: aliceblue;
    padding: 10px 15px;
    border: none;
    border-radius: 5px; 
}